
body {    
    font-family: "Roboto", sans-serif;
    color: #434455;
   background-color: #fff;
   
   
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;
}

a {
   text-decoration: none;
}

ul, ol {
   list-style: none;
   padding: 0;
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

address {
   font-style: normal;
}

.header {
   border-bottom: 1px solid #E7E9FC;
}

.container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}


.header-container {
   display: flex;
   align-items: center;
}

.navigation {
   display: flex;
   align-items: center;
}

.logo {
   color: #4d5ae5;
  font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     margin-right: 76px;
     
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
   display: flex;
   gap: 40px;
}

.nav-link {
   color: #2e2f42;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     padding: 24px 0;
     display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: #404BBF;
}

.address {
  font-style: normal;
  margin-left: auto;
  
}

.address-list {
   display: flex;
   gap: 40px;
}

.address-link {
   color: #434455;
  font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
     
}

.address-link:hover,
.address-link:focus {
  color: #404BBF;
}

/*---Hero---*/

.hero {
   background: #2e2f42;
   width: 1440px;
   height: 600px;
   padding: 188px 0;
   background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../imeges/img1.people-office\ 1.jpg);
}

.hero-title {
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
   max-width: 496px;
   height: 120px;
   margin: auto;
   padding: 0px;
}

.hero-buy-button {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #fff;
   background-color: #4d5ae5;
   display: block;
   text-align: center;
  min-width: 169px;
  height: 56px;
   top: 428px;
  left: 636px;
  padding: 16px, 32px, 16px, 32px;
  border: none;
  border-radius: 4px;
  gap: 10px;
 cursor: pointer;
 box-shadow: 0 4px 4px 0, rgba 0, 0, 0, 0.15;
 margin-top: 60px;
 margin-left: 500px;
}

/*--Skill--*/

.skills-section {
   padding: 120px 0px;
   
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
.ski-conteiner {
   border: 1px solid #ffff;
   display: block;
   display: flex;
   gap: 24px;
   align-items: center;
   width: calc(100%-4*24);
   height: 104px;
   padding: 0 0px;
   margin-left: 150px 120px; 
   
}


.icon-link-skil {
   width: 264px;
   height: 112px;
   background-color: #ffffff;
   border: 1px solid #8E8F99;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
  object-fit: none; 
}

.skills-icon {
  fill: #111111;

}


.skills-list {
   margin: 0px;
   padding-left: 0;
   display: flex;
   gap: 24px;
 
}

.skills-item {
   border: 1px solid #ffff;
   display: block;
   display: flex;
   text-align: left;
   width: calc((100% - 72px) /4);
   height: 104px;
   margin-right: 24px;
   padding: auto;
   margin: auto;
   flex-direction:column;
}

.skil-sabtitle {
 font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-left: 0px;
   margin-bottom: 8px;
   padding-left: 0px;
   text-align: left;
}

.skills-item-text {
 font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   margin-bottom: 5px;
   padding: 0px;
   
  
}

/*--Tem--*/

.tem-section {
   padding: 120px 0;
   background-color: #f4f4fd;
}

.tem-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin: 0;
   text-align: center;
   margin-bottom: 72px;
   padding-bottom: 72px;

}

.tem-list {  
   padding-left: 0px;
   margin: 0;
   display: flex;
   gap: 24px;
 
}

.tem-item {
   border-bottom: 1px solid blue;
   border: 1px solid #e7e9fc;
   border-top: none;
   padding: 32px 16px;
   width: calc((100% - 72px) /4);
   border-radius: 0 0 4px 4px;
   padding: 0px 0px 2px 0px;
   background-color: #fff;
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   text-align: center;
   
}

.tem-imeges {
   display: block;
   max-width: 100%;
   height: auto;
}
.text-conteiner {
   display: block;
   text-align: center;
   padding: 32px 0;
}

.sab-title-item {
 font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
   margin-bottom: 8px;
   padding: 0;
}

.tem-item-text {
 font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   color: #434455;
   margin: 0;
   padding: 0 0 32px 0;
   
}

.icon-group-link {
   display: flex;
   gap: 24px;
   margin-left: 15px;
}

.icon-li-list {
   display: block;
   display: flex;
}
.icon-link {
   width: 40px;
   height: 40px;
   background-color: #4D5AE5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
  
}
.tem-icon {
   fill: #ffffff;
}
/*--Portfolio--*/

.portfolo-section {
   padding: 120px 0;
   
}

.portfolio-container {
   background-color: #ffff;
   display: block;
   text-align: center;
   border: 1px solid #ffff;
   width: 1160px;
   margin: 100px 150px;
  
}

.portfolio-title {
 font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
   margin-bottom: 72px;
}

.portfolio-list {
   padding-left: 0px;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;
}

.portfolio-item {
   width: calc((100% - 48px) /3);
   margin-left: 0px;
   
}

.portfolio-imeges {
   display: block;
   max-width: 100%;
   height: auto;
}
.port-cont-text {
   margin-left: 0px;
   margin-top: 1px;
   padding: 32px 16px;
   text-align: left;
   border: 1px solid #e7e9fc;
   border-top: none;
}

.portf-sabtitle {
 font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-left: 0;
   margin-bottom: 8px;
   padding-left: 0px;
   
}

.portfolio-item-text {
 font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   margin: 0;
   padding-left: 0px;
   
}

/*--Footer--*/

footer {
   background: #2e2f42;
   padding: 100px 0px;
   
}

.footer-conteiner {
   height: 312px;
   padding-left: 150px;
   margin-left: 150px;
   width: 100%;
   box-sizing: border-box;
   display: flex;
	flex-direction: column;
   margin: 0px;
   padding: 0px;
   align-items: flex-start;
   flex-wrap: nowrap;
}
.footer-logo-cont {
   height: 112px;
   width: 264px;
   border: 1px solid #ffff;
   display: inline-block;
}

.footer-text {
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.02em;
 color: #F4F4FD;
 margin: 0px;
 padding: 0px;
 max-width: 264px;
 
}

.footer-link {
   font-family: Raleway;
   font-size: 18px;
   font-weight: 700;
   line-height: 21px;
   letter-spacing: 0.03em;
   text-align: left;
   color: #F4F4FD;
   display: inline-block;
   margin-bottom: 16px;
   
}

.footer-logo-color {
   color: #4D5AE5;
   cursor: pointer;   
}
.social-media-conteiner {
   width: 208px;
   height: 80px;
   padding: 0px;
   margin: 0px;
   border: 1px solid #ffff;
   display: inline-block;
   margin-left: 200px;
   margin-bottom: 60px;
   
}

.icon-group-footer-link {
   display: flex;
   gap: 10px;
   margin: auto;
   text-align: center;
   
}

.sab-title-footer {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #F4F4FD;
margin: 0px;
padding-left: 10px;
text-align: left;
   
}

.icon-li-fot-list {
   display: block;
   display: flex;
   

}
.icon-fot-link {
   width: 40px;
   height: 40px;
   background-color: #4D5AE5; 
   border-radius: 50%;
   display: flex;
   
  
}
.footer-icon {
   fill: transparent;
   stroke: #ffffff;
}